<!DOCTYPE html>
<html>

<!-- Use https://bulma.io as a CSS framework -->

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Venom</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

	<style> 

		
		.header {
  				padding: 14px;
  				text-align: left;
  				background: #000000;
  				color: white;
  				font-size: 30px;
					}
	</style>
	<div class="header"> 
	
	</div>
	</head> 

	<body> 
		
		<br>
		<div id="root" class="container" >
			<img src="venom.png" style="width:90px;height:120px;"> </img>
			
			<br><br><br>
			<tabs> 

				<tab name="About Venom" :selected="true"> 

					<h1>Venom is a collaborative C2 framework</h1> 
				
				</tab>

				<tab name="Our Vision"> 

					<h1>Venom's Vision</h1> 
				
				</tab>

				<tab name="About Us"> 

					<h1>Our names: Majd, Waleed and Yazan</h1> 
				
				</tab>

			</tabs>
			<br>
			<coupon @applied="onCouponApplied"></coupon> 

		</div>



	</body>
<script src="https://unpkg.com/vue@2.1.3/dist/vue.js"> </script>
<script src="main.js"></script>	
</body>

</html>